.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
html/webview/node_modules/**
html/webview/public/**
html/webview/src/**
html/webview/typings/**
html/webview/*.ts
html/webview/.eslintrc.cjs
html/webview/.gitignore
html/webview/.prettierrc.json
html/webview/index.html
html/webview/postcss.config.js
html/webview/tailwind.config.js
html/webview/tsconfig.js
html/webview/tsconfig.node.json
